* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__inner .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}
.header__inner .menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header__inner .header__logo-item {
  position: relative;
  display: block;
  text-decoration: none;
  color: #F7F7F7;
  margin-right: 61px;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  color: #F7F7F7;
}
.header__inner .header__logo-item::after {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1px;
  background: red;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.header__inner .header__logo-item:hover::after {
  opacity: 1;
}
.header__inner .header__logo-sub {
  position: relative;
}
.header__inner .header__logo-subitem {
  display: block;
  text-decoration: none;
  color: #F7F7F7;
  margin-right: 61px;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  color: #F7F7F7;
}
.header__inner .submenu {
  position: absolute;
  background-color: #e0dbe0;
  z-index: 1000;
  opacity: 0;
}
.header__inner .submenu .submenu__item {
  border: 1px solid black;
  text-align: center;
  min-width: 164px;
}
.header__inner .submenu .submenu__item .submenu__item-link {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.header__inner .submenu .submenu__item .submenu__item-link:hover {
  color: #F7F7F7;
}
.header__inner .submenu .submenu__item:hover {
  background-color: #2e2c2c;
  transition: all 0.3s ease;
}
.header__inner .header__logo-sub:hover .submenu {
  opacity: 1;
  transition: all 1s ease;
}

.intro {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/intro1.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  background-blend-mode: multiply;
  background-color: #2e3a44;
}
.intro__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__inner .intro__title {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #F7F7F7;
  margin-bottom: 20px;
}
.intro__inner .intro__suptitle {
  text-align: center;
  font-size: 24px;
  color: #F7F7F7;
}
.intro__inner .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  color: #F7F7F7;
  margin-top: 20px;
}
.intro__inner .logo .intro__integral {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}
.intro__inner .logo .intro__integral::before {
  content: "a";
  position: absolute;
  top: 55px;
  font-size: 12px;
  right: 10px;
}
.intro__inner .logo .intro__integral::after {
  content: "b";
  position: absolute;
  bottom: 60px;
  font-size: 12px;
  left: 10px;
}
.intro__inner .logo .intro__function {
  display: inline-block;
  font-size: 25px;
  text-align: center;
  font-style: italic;
}
.intro .title__name {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #F7F7F7;
  font-style: italic;
  position: absolute;
  bottom: 5px;
  right: 5px;
}